#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  color: white;
}

header {
  background: linear-gradient(rgb(87, 165, 214), rgb(0, 150, 243));
  border-radius: 25px;
  font-weight: normal;
}

h1 {
  display: inline-block;
  margin-right: 65%;
  text-shadow: 2px 2px 6px rgb(0, 29, 101);
}

.routes {
  display: inline-block;
}

li {
  display: inline-block;
  border-radius: 50px;
  background-color: rgb(115, 200, 253);
  margin-right: 10px;
}

/* this is a placeholder for img slideshow  coming soon*/
.puppies {
  width: 100%;
  height: 500px;
  border-radius: 25px;
  object-fit: cover;
}

.slideshow-container {
  border-radius: 25px;
  background: linear-gradient(rgb(104, 192, 247), rgb(0, 150, 243));
  padding: 2rem;
  margin-top: 15px;
  max-width: 1280px;
  max-height: 500px;
  overflow: hidden;
}

.nav-link {
  display: inline-block;
  padding: .75rem;
  text-decoration: none;
  color: white;
  border-radius: 50px;
}

.nav-link:hover {
  color: rgb(0, 150, 243);
  cursor: pointer;
  background-color: white;
}

.dev-image {
  object-fit: cover;
  width: 95%;
  height: 340px;
  border-radius: 25px;
  overflow: hidden;
  padding: 10px;
}

.dev-card {
  background: linear-gradient(rgb(104, 192, 247), rgb(0, 150, 243));
  border-radius: 25px;
  width: 415px;
  margin-top: 15px;
  transition: transform 0.2s ease-in-out;
}

.dev-card:hover {
  transform: scale(1.02);
}

.team {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-items: center;
}

.dev-name {
  margin: 10px;
}

.dev-button {
  border-radius: 50px;
  background-color: rgb(115, 200, 253);
  margin-right: 10px;
  color: white;
  padding: .75rem;
  border: 0;
  width: 200px;
  margin-bottom: 15px;
}

.dev-button:hover {
  color: rgb(0, 150, 243);
  cursor: pointer;
  background-color: white;
}

.dev-info {
  display: none;
}

.dev-info.visible {
  display: block;
}

.dev-facts,
.dev-type {
  font-weight: normal;
}

.mission-container {
  background: linear-gradient(rgb(104, 192, 247), rgb(0, 150, 243));
  border-radius: 25px;
  text-align: center;
  padding: 1rem;
  margin-top: 15px;
}