.statusDogBox {
    margin-top: 15px; 
    background: linear-gradient(rgb(104, 192, 247), rgb(0, 150, 243));
    border-radius: 15px;
    width: 300px;
    transition: transform 0.2s ease-in-out;
}

.statusDogBox:hover {
    transform: scale(1.05);
}

.statusDogImg {
    width: 95%;
    margin-top: 10px;
    border-radius: 10px 10px 5px 5px;
    overflow: hidden;
    object-fit: contain;
}

.statusDogCode{
    font-weight: normal;
    font-size: medium;
}

.statusDogsGallery {
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    justify-items: center;
}