#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: white;
}

h1 {
  margin-bottom: 20px; 
  color: black; 
  text-align: center; 
  margin-top: 0; 
}

.dog-card {
  background: linear-gradient(rgb(87, 165, 214), rgb(0, 150, 243)); 
  border-radius: 25px;
  font-weight: normal;
  padding: 20px; 
  margin-bottom: 20px; 
  width: 300px; 
  margin-right: 20px; 
}

.dog-card:last-child {
  margin-right: 0; 
}


.dog-card-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
}